{% extends '@PrestaShop/base.html.twig' %}

{% block content %}
    <div id="app" 
        data-endpoint="{{ endpoint_uri }}"
        data-front="{{ front_uri }}">
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if vite_port %}
        <script type="module">
            import RefreshRuntime from "http://localhost:{{ vite_port }}/@react-refresh"
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>

        <script type="module" src="http://localhost:{{ vite_port }}/@vite/client"></script>
        <script type="module" src="http://localhost:{{ vite_port }}/index.jsx"></script>
    {% endif %}
{% endblock %}

